<a href="https://colab.research.google.com/github/AbhaySooraj/Sixth-Semester/blob/main/Pgm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Q1) Write a python program to implement a nested list and two concatenate two list.
x=int(input("Enter number of lists :"))
list1=[]
for i in range(0,x):
  list2=[]
  y=int(input("Enter the number of elements in list "))
  for y in range(0,y):
    z=input()
    list2.append(z)
  list1.append(list2)
print("Nested List is ",list1)

list3=['10','11']
list1=list1+list3
print("Concatenated list is ",list1)
#list1=[[1,2,3],[4,5,6],[7,8,9]]
#print(list1[2])

Enter number of lists :3
Enter the number of elements in list 3
1
2
3
Enter the number of elements in list 2
4
5
Enter the number of elements in list 4
6
7
8
9
Nested List is  [['1', '2', '3'], ['4', '5'], ['6', '7', '8', '9']]
Concatenated list is  [['1', '2', '3'], ['4', '5'], ['6', '7', '8', '9'], '10', '11']

In [11]:
#Q2) Write a numpy program to convert a list of numeric values into a one dimensional numpy array.
import numpy as np
list1=[10.3,11,42.58,100]
npa=np.array(list1)
print("The numpy array is :",npa)

The numpy array is : [ 10.3   11.    42.58 100.  ]

In [12]:
#Q3) Write a numpy program to reverse an array.
import numpy as np
l1=np.array([10.3,11,42.58,100])
rl1=np.flip(l1)
print(rl1)

[100.    42.58  11.    10.3 ]

In [15]:
#Q4) Write a numpy program to capitalize the first letter, lowercase, uppercase, titlecase of all elements of given array.
import numpy as np
x=np.array(["python","PHP","Java","C++"])
np1=np.char.capitalize(x)
np2=np.char.lower(x)
np3=np.char.upper(x)
np4=np.char.title(x)

print("\nCapitalized: ", np1)
print("Lowered: ", np2)
print("Uppered: ", np3)
print("Titlecased: ", np4)

Capitalized:  ['Python' 'Php' 'Java' 'C++']
Lowered:  ['python' 'php' 'java' 'c++']
Uppered:  ['PYTHON' 'PHP' 'JAVA' 'C++']
Titlecased:  ['Python' 'Php' 'Java' 'C++']